.WeatherCard {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    column-gap: 2vw;
    row-gap: 10vh;
}

.Box {
    border-radius: 1.0vw;
    width: 10vw;
    height: 10vw;
    align-items: center;
    display: flex;
    justify-content: center;
    background-size: cover;
    box-shadow: rgba(3, 102, 214, 0.3) 0 0 0 3px;
}

.Box > h5 {
    font-size: 1.5vw;
}

.Box:hover {
    transition: all 0.25s ease-in-out;
    transform: scale(1.5);
}

.TemperatureBox {
    background-image: linear-gradient(rgba(255, 255, 255, .55), rgba(255, 255, 255, .55)), url("./assets/temperature.png");
}

.CloudCoverBox {
    background-image: linear-gradient(rgba(255, 255, 255, .55), rgba(255, 255, 255, .55)), url("./assets/cloudcover.png");
}

.HumidityBox {
    background-image: linear-gradient(rgba(255, 255, 255, .55), rgba(255, 255, 255, .55)), url("./assets/humidity.png");
}

.PrecipitationBox {
    background-image: linear-gradient(rgba(255, 255, 255, .55), rgba(255, 255, 255, .55)), url("./assets/precipitation.png");
}

.UVIndexBox {
    background-image: linear-gradient(rgba(255, 255, 255, .55), rgba(255, 255, 255, .55)), url("./assets/uvindex.png");
}

.VisibilityBox {
    background-image: linear-gradient(rgba(255, 255, 255, .55), rgba(255, 255, 255, .55)), url("./assets/visibility.png");
}

@media only screen and (max-width: 600px) {
    h3 {
        font-size: 4vw;
    }
    .Box {
        border-radius: 2.5vw;
        width: 25vw;
        height: 25vw;
    }

    .Box > h5 {
        font-size: 3.75vw;
    }

    .WeatherCard {
        margin-top: 5vh;
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
        column-gap: 1vw;
        row-gap: 5vh;
    }
}
